Open anaconda prompt as administrator

Type “pip install numpy” and click enter.

Type “pip install pandas” and click enter..

Type “pip install tensorflow==2.14.0” and click enter.

Type “pip install keras==2.14.0” and click enter.

Type “pip install Flask” and click enter.
